body {
  height: 100vh;
  width: 100vw;
  background-color: #d6d6d6;
}

.topbar {
  padding-top: 30px;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.topbar a {
  margin-left: 2%;
}
.topbar a input {
  height: 100%;
  width: 100%;
}
.topbar input {
  margin-left: auto;
}
.topbar h1 {
  font-size: 40px;
}

hr {
  margin-top: 20px;
  width: 96%;
  margin-bottom: 30px;
}

input {
  font-size: 20px;
}

.specifications {
  display: grid;
  grid-template-columns: 105px 200px;
  padding-left: 5%;
  padding-right: 50%;
  row-gap: 20px;
  align-items: center;
}
.specifications div {
  grid-column: 1/span 2;
  display: grid;
  grid-template-columns: 105px 200px;
  row-gap: 20px;
  align-items: center;
}
.specifications div p {
  grid-column: 1/span 2;
}

/*# sourceMappingURL=style_new.css.map */
