body {
  height: 100vh;
  width: 100vw;
  background-color: #d6d6d6;
}

.topbar {
  padding-top: 30px;
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.topbar a {
  margin-left: auto;
}
.topbar a input {
  height: 100%;
  width: 100%;
}
.topbar input {
  margin-left: 2%;
}
.topbar h1 {
  font-size: 40px;
}

hr {
  margin-top: 20px;
  width: 96%;
  margin-bottom: 30px;
}

input {
  font-size: 20px;
}

.productGrid {
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
.productGrid div {
  display: grid;
  background-color: gray;
}
.productGrid div > * {
  justify-self: center;
}
.productGrid div > input {
  width: 15px;
  height: 15px;
  justify-self: start;
  margin-left: 10%;
  margin-top: 10px;
}
.productGrid div p:last-child {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style_list.css.map */
