@use 'colors';
body{
    height:100vh;
    width:100vw;
    background-color:colors.$backgroundColor;
}
.topbar{
    padding-top:30px;
    padding-left:3%;
    padding-right:3%;
    width:94%;
    overflow: hidden;
    display: flex;
    justify-content: start;
    a{
        margin-left:2%;
        input{
            height:100%;
            width:100%;
        }
    }
    input{
        margin-left:auto;
    }
    h1{
        font-size: 40px;
    }
}
hr{
    margin-top:20px;
    width:96%;
    margin-bottom:30px;
}
input{
    font-size:20px;
}
.specifications{
    display:grid;
    grid-template-columns: 105px 200px;
    padding-left:5%;
    padding-right:50%;
    row-gap:20px;
    align-items:center;
    div{
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 105px 200px;
        row-gap: 20px;
        align-items:center;
        p{
            grid-column: 1 / span 2;
        }
    }
}