@use 'colors';
body{
    height:100vh;
    width:100vw;
    background-color: colors.$backgroundColor;
}
.topbar{
    padding-top:30px;
    padding-left:3%;
    padding-right:3%;
    width:94%;
    overflow: hidden;
    display: flex;
    justify-content: start;
    a{
        margin-left:auto;
        input{
            height:100%;
            width:100%;
        }
    }
    input{
        margin-left:2%;
    }
    h1{
        font-size: 40px;
    }
}
hr{
    margin-top:20px;
    width:96%;
    margin-bottom:30px;
}
input{
    font-size:20px;
}
.productGrid{
    padding-left:5%;
    padding-right:5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap:20px;
    row-gap: 20px;
    div{
        display: grid;
        background-color: gray;
    }
    div > *{
        justify-self:center;
    }
    div > input{
        width:15px;
        height:15px;
        justify-self:start;
        margin-left:10%;
        margin-top:10px;
    }
    div{
        p:last-child{
            margin-bottom:20px;
        }
    }
}